.dotdot {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}



::ng-deep {
    .small-pic {
        height: 35px;

        > img {
            height: 100%;
        }
    }

    .recently-opened {
        background: #8e4040 !important;
    }
}
