.dotdot {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
}

::ng-deep {
    .small-pic-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: overlay;
        max-width: 256px;

        > img {
            height: 42px;
        }
    }

    .recently-opened {
        background: #8e4040 !important;
    }
}
