<div class="grid mb-3">
    <div class="col-12">
        <button
            class="mx-4"
            type="button"
            pButton
            size="small"
            color="accent"
            (click)="cancel()"
        >
            Cancel
        </button>

        <button
            type="button"
            pButton
            size="small"
            color="primary"
            [disabled]="false"
            (click)="recheck()"
        >
            Recheck
            <span *ngIf="checkedFiles > 0 || fileCount > 0">
                {{ checkedFiles + ' - ' + fileCount }}
            </span>
        </button>

        <button
            type="button"
            pButton
            size="small"
            color="primary"
            class="ml-3"
            (click)="loadFromJson()"
        >
            Load Checked From Json
        </button>

        <button
            type="button"
            pButton
            size="small"
            color="primary"
            class="ml-3"
            (click)="saveToJson()"
        >
            Save to Json
        </button>
    </div>

    <div
        class="col-12 mt-3"
        style="background: black; color: white"
    >
        <div
            class="col-12"
            *ngFor="let filechecked of lastFilesChecked"
        >
            {{ filechecked }}
        </div>
    </div>

    <div class="col-12 p-0 mt-3">
        <p-table
            #tableRef
            [value]="files"
            [columns]="cols"
            [paginator]="true"
            [showJumpToPageDropdown]="true"
            [showPageLinks]="true"
            [rows]="50"
            [resizableColumns]="true"
            [globalFilterFields]="['name', 'filename', 'birth']"
        >
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button
                        pButton
                        label="Clear"
                        class="p-button-outlined"
                        icon="pi pi-filter-slash"
                        (click)="refresh(tableRef)"
                    ></button>
                    <span class="p-input-icon-left float-right p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input
                            pInputText
                            type="text"
                            (input)="
                                tableRef.filterGlobal(
                                    $event.target.value,
                                    'contains'
                                )
                            "
                            placeholder="Search keyword"
                        />
                    </span>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th
                        *ngFor="let col of cols"
                        pResizableColumn
                        [ngStyle]="col.style"
                        [pSortableColumn]="
                            col.sortField ? col.sortField : col.field
                        "
                    >
                        <div class="float-left">
                            {{ col.header }}
                        </div>
                        <p-sortIcon
                            *ngIf="!col.noScroll"
                            class="float-left"
                            [field]="col.sortField ? col.sortField : col.field"
                        ></p-sortIcon>

                        <p-columnFilter
                            *ngIf="col.filterType === FILTER_TYPE.TEXT"
                            class="float-right"
                            type="text"
                            [field]="col.field"
                            display="menu"
                        ></p-columnFilter>

                        <p-columnFilter
                            *ngIf="col.filterType === FILTER_TYPE.BOOL"
                            class="float-right"
                            type="boolean"
                            [field]="col.field"
                        >
                            Has Pics
                        </p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="body"
                let-file
            >
                <tr
                    [ngClass]="{
                        'recently-opened': file.recentlyOpened,
                    }"
                >
                    <td
                        *ngFor="let col of cols"
                        [ngClass]="col.cClass"
                    >
                        <span *ngIf="col.type === 'text'">
                            {{ file[col.field] }}
                        </span>

                        <div *ngIf="col.type === 'name'">
                            <button
                                type="button"
                                pButton
                                size="small"
                                (click)="openFile(file)"
                            >
                                <span class="pr-3">🎁</span>
                                <span>{{ file[col.field] }}</span>
                            </button>
                        </div>

                        <div *ngIf="col.type === 'fileLocation'">
                            <div class="float-left">
                                <button
                                    type="button"
                                    pButton
                                    size="small"
                                    (click)="openFileLocation(file)"
                                >
                                    <span class="pr-3">📁</span>
                                    <span>{{ file[col.field] }}</span>
                                </button>
                            </div>
                        </div>

                        <div
                            *ngIf="col.type === 'pictures'"
                            class="small-pic"
                            (click)="openPic(file)"
                        >
                            <img
                                *ngIf="file.hasPic"
                                [src]="file.picUrl"
                            />
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
