<div class="row mb-3">

    <div class="col-12">

        <mat-accordion class="w-100">
            <mat-expansion-panel class="mb-2">

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Table Sql and Simple Get
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-2">
                        Latitude:
                    </div>
                    <div class="col-4">
                        <input matInput class="w-100" style="color: black;"
                            [(ngModel)]="latitude" placeholder="Latitude"/>
                    </div>
                    <div class="col-2">
                        Longitude:
                    </div>
                    <div class="col-4">
                        <input matInput class="w-100" style="color: black;"
                            [(ngModel)]="longitude" placeholder="Longitude"/>
                    </div>
                </div>

                <div class="row" *ngIf="isSqlGenerated">

                    <div class="col-12">

                        <textarea class="w-100" matInput
                            style="color: black; font-size: 8px; min-height: 20vh;"
                            [(ngModel)]="tableSql"></textarea>
                    </div>
                </div>

                <div class="row" *ngIf="isSqlGenerated">

                    <div class="col-6">
                        <textarea class="w-100" matInput
                            style="color: black; font-size: 8px; min-height: 25vh;"
                            [(ngModel)]="getCountrySql"></textarea>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="row">

            <div class="col-2">
                <button mat-button (click)="generateSql()">
                    Generate SQL
                </button>
            </div>

            <div class="col-10">
                <mat-accordion class="w-100">
                    <mat-expansion-panel class="mb-2">

                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Country and City Excel
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="row">

                            <div class="col-6" *ngIf="isSqlGenerated">
                                <textarea class="w-100" matInput
                                    style="color: black; font-size: 8px; min-height: 25vh;"
                                    [(ngModel)]="countrySqlText"></textarea>
                            </div>
                            <div class="col-6" *ngIf="isSqlGenerated">
                                <textarea class="w-100" matInput
                                    style="color: black; font-size: 8px; min-height: 25vh;"
                                    [(ngModel)]="citySqlText"></textarea>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-12">
                                Fake Names
                            </div>

                            <div class="col-6" *ngIf="isSqlGenerated">
                                <textarea class="w-100" matInput
                                    style="color: black; font-size: 8px; min-height: 25vh;"
                                    [(ngModel)]="fakeNamesSql"></textarea>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="row">

            <div class="col-2">
                <button mat-button (click)="loadCountriesAndCities()">
                    Load Data
                </button>
            </div>

            <div class="col-2">
                <button mat-button (click)="loadFakeUsernames()">
                    Load Fake Usernames
                </button>
            </div>
        </div>
        <div class="row">

            <mat-accordion class="m-3 w-100">
                <mat-expansion-panel hideToggle class="mb-2" *ngFor="let country of countries; index as i;">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ country.country }}
                        </mat-panel-title>
                        <mat-panel-description>

                            <span class="float-right">
                                {{ country.cities?.length }}
                            </span>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="col-12 pb-2" *ngFor="let city of country.cities;">
                        {{ city.city }}
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>

</div>
