@import "~bootstrap/dist/css/bootstrap.css";
// @import "@angular/material";
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~primeicons/primeicons.css';
// @import '../node_modules/primeng/resources/themes/md-dark-deeppurple/';
@import '~primeng/resources/themes/md-dark-deeppurple/theme.css';
@import '~primeng/resources/primeng.min.css';

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~@angular/material/theming";
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-amber, A200, A100, A400);
$app-warn:    mat-palette($mat-red);
$app-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);
// @include angular-material-theme($app-theme);

@include angular-material-theme($app-theme);
$angular-dark-theme: mat-dark-theme(
      $app-primary,
      $app-accent,
      $app-warn
);
.darkMode {
  @include angular-material-theme($angular-dark-theme);
}

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

*:focus {
    box-shadow: none !important;
    outline: 0 none !important;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url(./assets/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

.p-component,
.p-inputtext,
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.p-datatable .p-datatable-header,
.p-datatable .p-datatable-thead > tr > th,
.p-paginator {
    background: none;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background: #232323f5;
}

.p-datatable .p-datatable-thead > tr > th {
    > * {
        height: 40px;
        line-height: 40px;
    }
}
