<div class="row mb-3">

    <div class="col-12">

        <mat-card>
            <mat-card-header>
                <mat-card-title>Testing Ground</mat-card-title>
                <mat-card-subtitle>List Of Functions We Call</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>

                <div class="row">

                    <div class="col-12">

                        <button mat-raised-button color="primary" [disabled]="true"
                            (click)="openPic()">
                            Open Pic
                        </button>

                        <button mat-raised-button class="ml-3" color="primary" [disabled]="true"
                            (click)="moveMouseAction()">
                            Move Mouse Action
                        </button>

                        <button mat-raised-button class="ml-3" color="primary"
                            (click)="playWithPython()">
                            Play With Python
                        </button>

                        <button mat-raised-button class="ml-3" color="primary"
                            (click)="runUiPathRobot()">
                            Run UI Path Robot
                        </button>

                    </div>

                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>
